* {
  font-family: 'Roboto', sans-serif; }

body, p {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.scroll-down-div {
  width: 100vw;
  height: 100vh;
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f83600, #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center; }
  .scroll-down-div p {
    color: #FFFFFF;
    font-size: 2rem; }

.scrolled-down-div {
  display: flex;
  flex-direction: column; }
  .scrolled-down-div div {
    width: 100vw;
    height: 100vh;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center; }
    .scrolled-down-div div img {
      border-radius: 50%;
      margin: 0 2rem; }
  .scrolled-down-div p {
    color: #FFFFFF;
    font-size: 2rem; }

.amazing {
  visibility: hidden; }
