* {
  font-family: 'Roboto', sans-serif; }

body, p {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.scroll-down-div {
  width: 100vw;
  height: 100vh;
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f83600, #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center; }
  .scroll-down-div p {
    color: #FFFFFF;
    font-size: 2rem; }

.scrolled-down-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .scrolled-down-div div {
    display: flex;
    justify-content: center;
    align-items: center; }
    .scrolled-down-div div img {
      border-radius: 50%;
      margin: 0 2rem; }
  .scrolled-down-div h1 {
    color: #FFFFFF;
    font-size: 5rem;
    margin: 0; }
  .scrolled-down-div h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-weight: 300; }
  .scrolled-down-div p {
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: 2rem; }

.scrolled-down-div-2 {
  background: #e52d27;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b31217, #e52d27);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center; }
  .scrolled-down-div-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .scrolled-down-div-2 ul li {
      color: #FFFFFF;
      font-size: 2rem;
      margin: 1.5rem 0; }

.amazing {
  visibility: hidden; }

.animation-01s {
  -webkit-animation-duration: 100ms !important;
  animation-duration: 100ms !important; }

.animation-015s {
  -webkit-animation-duration: 150ms !important;
  animation-duration: 150ms !important; }

.animation-018s {
  -webkit-animation-duration: 180ms !important;
  animation-duration: 180ms !important; }

.animation-02s {
  -webkit-animation-duration: 200ms !important;
  animation-duration: 200ms !important; }

.animation-025s {
  -webkit-animation-duration: 250ms !important;
  animation-duration: 250ms !important; }

.animation-05s {
  -webkit-animation-duration: 500ms !important;
  animation-duration: 500ms !important; }

.animation-075s {
  -webkit-animation-duration: 750ms !important;
  animation-duration: 750ms !important; }

.animation-1s {
  -webkit-animation-duration: 1000ms !important;
  animation-duration: 1000ms !important; }

.animation-2s {
  -webkit-animation-duration: 2000ms !important;
  animation-duration: 2000ms !important; }

.animation-3s {
  -webkit-animation-duration: 3000ms !important;
  animation-duration: 3000ms !important; }

.animation-4s {
  -webkit-animation-duration: 4000ms !important;
  animation-duration: 4000ms !important; }

.animation-5s {
  -webkit-animation-duration: 5000ms !important;
  animation-duration: 5000ms !important; }

.animation-6s {
  -webkit-animation-duration: 6000ms !important;
  animation-duration: 6000ms !important; }

.animation-7s {
  -webkit-animation-duration: 7000ms !important;
  animation-duration: 7000ms !important; }

.animation-8s {
  -webkit-animation-duration: 8000ms !important;
  animation-duration: 8000ms !important; }

.animation-9s {
  -webkit-animation-duration: 9000ms !important;
  animation-duration: 9000ms !important; }

.animation-10s {
  -webkit-animation-duration: 10000ms !important;
  animation-duration: 10000ms !important; }
